// Colours
$turquoise: #07b1d3;
$purple: #8e2f8d;
$black: #262826;
$darkblue: #272d67;
$darkpurple: #501945;
$green: #089f48;
$blue: #0a72b6;
$gray: #cfc9cf;
$yellow: #ffde00;
$orange: #ed9813;
$red: #d9191c;
