<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="Mirabeau.DatabaseReleaseTool.ConnectionString"
            connectionString="Data Source=.;Initial Catalog=ExampleDB-on-dev-server;User ID=user-on-dev-server;Password=password"
            providerName="System.Data.SqlClient"
			xdt:Transform="Replace" xdt:Locator="Match(name)" />
    </connectionStrings>
</configuration>