<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="DefaultPushSource" value="https://nuget.org/api/v2/"/>
	</config>
	<packageRestore>
		<add key="enabled" value="True"/>
	</packageRestore>
	<solution>
		<add key="disableSourceControlIntegration" value="true"/>
	</solution>
	<activePackageSource>
		<add key="NuGet official package source" value="https://nuget.org/api/v2/"/>
	</activePackageSource>
	<packageSources>
		<add key="Local NuGet cache" value="%localappdata%\NuGet\Cache" />
		<add key="NuGet official package source" value="https://nuget.org/api/v2/"/>
	</packageSources>
	<activePackageSource>
		<add key="All" value="(Aggregate source)"  />
	</activePackageSource>
	<disabledPackageSources/>
</configuration>
